/* CSS Document */
.paper .title
{
	/*
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	*/
	font-size: 23px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
    -webkit-text-shadow: 0 10px 6px -6px #777;
       -moz-text-shadow: 0 10px 6px -6px #777;
            text-shadow: 0 10px 6px -6px #777;
}
.title-part
{
	width: 100%;
}
.error
{
	color: red;
	margin: 5px 0px 0px 15px;
	
}
.fild_error
{
	border-color:rgb(221, 9, 9) !important;
	box-shadow: 0 7px 6px -6px rgb(221, 9, 9) !important;
}
.header_location .locationCap2
{
font-size: 20px;
padding-top: -20px;
}   