.container-table
{
	margin: 0;
	width: 100%;
}

th{
	text-align: center;
	width: 100px;
}
.filterDiv td
{
	width: 100px;
	line-height: 100%;
	vertical-align: middle !important;
	text-align: center;
}

.table thead{
	background-color: #004f7e;
	color: white;
}

.col-stt{
	width: 5%;
	text-align: center;
}
tbody tr:nth-child(even) {
    background-color: #e9ebf5;
}
tbody tr:nth-child(odd):not(adding) {
    background-color: #cfd5ea;
}
td.col-noidung{
	width: 35%;
	text-align: left;
}
.col-ma{
	width: 10%;
	text-align: center;
}
.col-ngay{
	width: 15%;
	text-align: center;
}
.col-tacvu{
	width: 15%;
	text-align: center;
}
.dataTables_filter{
	visibility:hidden;
}