.col-stt{
	width: 5%;
	line-height : 35px!important;
}
.col-ma{
	width: 12%;
	text-align: center;
	line-height : 35px!important;
}
.col-ngay{
	width: 15%;
	text-align: center;
	line-height : 35px!important;
}
.col-tacvu{
	width: 15%;
	text-align: center;
	line-height : 35px!important;
}
.col-canbo{
	width: 20%;
	text-align: center;
	line-height : 35px!important;
}
tr{
	line-height: 40px;
}


.adding tbody tr:nth-child(even) {
    background-color: transparent;
}
.adding tbody tr:nth-child(odd):not(adding) {
    background-color: transparent;
}
.adding{
	width: 40%;
	margin-left: 10%;
}
.adding .col-title{
	width: 10%;
}
.adding .col-lable{
	width: 15%;
	border-top: 1px rgba(63,63,63,1.00) solid;
	border-bottom: 1px rgba(63,63,63,1.00) solid;
}
.adding .col-content{
	width: 15%;
	border-top: 1px rgba(63,63,63,1.00) solid;
	border-bottom: 1px rgba(63,63,63,1.00) solid;
}

.col-sm-12.col-md-6
{
	width:35%!important;
}
.dataTables_filter{
	visibility:visible;
}