/*import font Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900');
body {
    font-family: 'Roboto Slab', serif;
}

.modal-dialog .modal-content .modal-header
{
    color: white;
    background-color: #004f7e;
}

.modal-dialog .modal-content .modal-body label
{
    font-weight: bold;
}

#myModal.modal{
	
    text-align: center;
}
#myModal.modal::before {
    content: "";	  
    display: inline-block;
    height: 100%;	 
    margin-right: -4px;
    vertical-align: middle;
}
#myModal .modal-dialog {	
    display: inline-block;	
    vertical-align: middle;
    margin-left: 200px;
}	
#myModal .modal-content {	
   width: 70%;
   margin: auto;
   color: black;
}
.modal-backdrop.fade.in{
	display : none;
}

.col-12 .container{
	width : 60%;
	margin : auto;
	margin-top : 50px;
}

.container .modal-dialog .modal-content .modal-header{
	border-radius : 5px 5px 0px 0px;
}

.close{
	right:0px;
	top:0px;
}