/*Quản lý hộ tịch*/

td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}

.col-stt{
	width: 5%;
	text-align: center;
}
.col-ma{
	width: 12%;
	text-align: center;
}
.col-ngay{
	width: 15%;
	text-align: center;
}
.col-tacvu{
	width: 15%;
	text-align: center;
}
td.col-canbo{
	width: 20%;
	text-align: left;
}
tr{
	line-height: 40px;
}
.details-control{
	width: 5%;
}


.adding tbody tr:nth-child(even) {
    background-color: transparent;
}
.adding tbody tr:nth-child(odd):not(adding) {
    background-color: transparent;
}
.adding{
	width: 100%;
	border: 2px solid black;;
}
.adding tr td{
}
