<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HOTICH</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>QuanLyDangKyServlet</servlet-name>
    <servlet-class>Controllers.QuanLyDangKyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HoSoDangKyServlet</servlet-name>
    <servlet-class>Controllers.HoSoDangKyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuanLyHoTichServlet</servlet-name>
    <servlet-class>Controllers.QuanLyHoTichServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyDangKyServlet</servlet-name>
    <url-pattern>/QuanLyDangKy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuanLyDangKyServlet</servlet-name>
    <url-pattern>/QuanLyDangKy/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HoSoDangKyServlet</servlet-name>
    <url-pattern>/HoSoDangKy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HoSoDangKyServlet</servlet-name>
    <url-pattern>/HoSoDangKy/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuanLyHoTichServlet</servlet-name>
    <url-pattern>/QuanLyHoTich</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuanLyHoTichServlet</servlet-name>
    <url-pattern>/QuanLyHoTich/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
</web-app>